<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css')}}"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />

    <title>ISPinfo</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="mainmenu">
          <li><a href="{{ url_for('index')}}">Главная</a></li>
          <li><a href="">Актуализация</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">{% block content -%} {% endblock %}</div>
  </body>
</html>
