{% extends 'base.html' %} {% block content %} {{ super() }} {% if result_len %}
<table class="users">
  <tr>
    <th>Пользователь</th>
    <th>Тип пользователя</th>
    <th>Аутентификация</th>
    <th>Действие</th>
  </tr>
  {% for i in range(result_len) %}
  <tr>
    <td>{{ result[i][1] }}</td>
    <td>{{ result[i][3] }}</td>
    <td>{{ result[i][4] }}</td>
    <td>
      <form
        action="{{url_for('deleteuser', id = result[i][0])}}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% if result[i][1] == 'admin' or result[i][1] == user%}
        <input type="submit" value="Удалить" name="delete" disabled="yes" />
        {% else %}
        <input type="submit" value="Удалить" name="delete" />
        {% endif %}
      </form>
    </td>
  </tr>
  {% endfor %}{% else %} Пользователи не найдены {% endif %}
  <form
    action="{{url_for('adduser')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <tr>
      <td><input type="text" name="username" /></td>
      <td>
        <select name="usertype" id="1">
          <option value="Support">Support</option>
          <option value="Admin">Admin</option>
        </select>
      </td>
      <td>
        <select name="auth" id="1">
          <option value="LDAP">LDAP</option>
          <option value="Local">Local</option>
        </select>
      </td>
      <td><input type="submit" value="Добавить" name="add" /></td>
    </tr>
  </form>
</table>
<br />

<a class="btn" href="{{ url_for('index')}}">Главная</a>{% endblock %}
